<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <api>
            <services>
                <configuration>
                    <allowedControllers hint="list:AddController">
                        <allowedController desc="MarketingAutomationServiceController">Sitecore.DataExchange.MarketingAutomation.Client.Controllers.ServicesController, Sitecore.DataExchange.MarketingAutomation.Client</allowedController>
                        <allowedController desc="MarketingAutomationTenantServiceEndpointsController">Sitecore.DataExchange.MarketingAutomation.Client.Controllers.TenantServiceEndpointsController, Sitecore.DataExchange.MarketingAutomation.Client</allowedController>
                    </allowedControllers>
                </configuration>
            </services>
        </api>
        <services>
            <configurator type="Sitecore.DataExchange.MarketingAutomation.Client.TenantServiceForMarketingAutomationClientServiceConfigurator, Sitecore.DataExchange.MarketingAutomation.Client" />
            <register serviceType="Sitecore.DataExchange.MarketingAutomation.Client.Configuration.ITenantServiceConnectionRepositoryFactory, Sitecore.DataExchange.MarketingAutomation.Client.Configuration" implementationType="Sitecore.DataExchange.MarketingAutomation.Client.Configuration.TenantServiceConnectionRepositoryFactory, Sitecore.DataExchange.MarketingAutomation.Client.Configuration" lifetime="Transient"/>
        </services>

        <dataExchange>
            <tenantServices>
                <marketingAutomation>
                    <tenantServiceConnectionRepository type="Sitecore.DataExchange.MarketingAutomation.Activity.Repositories.TenantServiceConnectionRepository, Sitecore.DataExchange.MarketingAutomation.Activity">
                        <tenantServices hint="list:AddService">
                            <tenantService>tenantservice</tenantService>
                        </tenantServices>
                    </tenantServiceConnectionRepository>
                </marketingAutomation>
            </tenantServices>
        </dataExchange>
    </sitecore>
</configuration>
