<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <commands>
            <!-- NOTE: commands must have a default constructor -->
            <!-- NOTE: no properties can be set on commands using the standard Sitecore configuration factory -->
            <command name="dataExchange:runPipelineBatchCommand" type="Sitecore.DataExchange.Local.Commands.RunPipelineBatchCommand, Sitecore.DataExchange.Local" />
            <command name="dataExchange:runPipelineBatchResumeCommand" type="Sitecore.DataExchange.Local.Commands.RunPipelineBatchResumeCommand, Sitecore.DataExchange.Local" />
            <command name="dataExchange:runPipelineBatchVerifyCommand" type="Sitecore.DataExchange.Local.Commands.RunPipelineBatchVerifyCommand, Sitecore.DataExchange.Local" />
            
            <command name="dataExchange:stopPipelineBatchCommand" type="Sitecore.DataExchange.Local.Commands.StopPipelineBatchCommand, Sitecore.DataExchange.Local" />
            <command name="dataExchange:showPipelineBatchStatusCommand" type="Sitecore.DataExchange.Local.Commands.ShowPipelineBatchStatusCommand, Sitecore.DataExchange.Local" />
            <command name="dataExchange:createItemWithoutPromptingForNameCommand" type="Sitecore.DataExchange.Local.Commands.CreateItemWithoutPromptingForNameCommand, Sitecore.DataExchange.Local" />
            <command name="dataExchange:createTenant" type="Sitecore.DataExchange.Local.Commands.CreateTenantCommand, Sitecore.DataExchange.Local" />
            <command name="dataExchange:runTroubleshooter" type="Sitecore.DataExchange.Local.Commands.RunTroubleshooterCommand, Sitecore.DataExchange.Local" />
            <command name="dataExchange:showVerificationLogStatus" type="Sitecore.DataExchange.Local.Commands.ShowVerificationLogStatusCommand, Sitecore.DataExchange.Local" />
        </commands>
        <dataExchange>
            <tenantRepository type="Sitecore.DataExchange.Repositories.Tenants.SitecoreTenantRepository, Sitecore.DataExchange">
                <itemModelRepository ref="dataExchange/itemModelRepository" />
            </tenantRepository>
            <itemModelRepository type="Sitecore.DataExchange.Local.Repositories.InProcItemModelRepository, Sitecore.DataExchange.Local">
                <databaseName>master</databaseName>
            </itemModelRepository>
            <logger type="Sitecore.DataExchange.Local.Loggers.PrefixedSitecoreLogger, Sitecore.DataExchange.Local">
                <prefix>Data Exchange</prefix>
            </logger>
            <pipelineBatchLoggerService type="Sitecore.DataExchange.Local.Loggers.PipelineBatchLoggerService, Sitecore.DataExchange.Local" />
        </dataExchange>
        <pipelines>
            <initialize>
                <processor type="Sitecore.DataExchange.Local.Pipelines.Loader.InitializeDataExchange, Sitecore.DataExchange.Local" />
            </initialize>
            <expandInitialFieldValue>
                <processor type="Sitecore.DataExchange.Local.Pipelines.ExpandInitialFieldValue.ReplaceVariables, Sitecore.DataExchange.Local" patch:after="processor[@type='Sitecore.Pipelines.ExpandInitialFieldValue.ReplaceVariables, Sitecore.Kernel']"/>
            </expandInitialFieldValue>
        </pipelines>
        <log4net>
            <appender name="DataExchangeLogFileAppender" type="log4net.Appender.RollingFileAppender, Sitecore.Logging">
                <file value="$(dataFolder)/logs/DataExchange/log.{date}.{time}.txt" />
                <appendToFile value="true" />
                <rollingStyle value="Size" />
                <maxSizeRollBackups value="-1" />
                <maximumFileSize value="10MB" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
                </layout>
                <encoding value="utf-8" />
            </appender>
            <logger name="Sitecore.DataExchange.Local.Loggers.DataExchangeLog" additivity="false">
                <level value="INFO" />
                <appender-ref ref="DataExchangeLogFileAppender" />
            </logger>
            <logger name="PipelineBatchLog" additivity="false">
                <level value="DEBUG" />
            </logger>
        </log4net>

        <controlSources>
            <source mode="on" namespace="Sitecore.DataExchange.Local.ContentEditor.FieldTypes" assembly="Sitecore.DataExchange.Local" prefix="def" />
        </controlSources>

        <settings>
            <setting name="DataExchange.LogFolder" value="$(dataFolder)/logs/DataExchange" />
        </settings>
        
    </sitecore>
</configuration>
