<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="defsdk:createProvider" type="Sitecore.DataExchange.Local.Sdk.Commands.CreateProviderCommand, Sitecore.DataExchange.Local.Sdk" />
      <command name="defsdk:startTenantUpgradeWizard" type="Sitecore.DataExchange.Local.Sdk.Commands.StartTenantUpgradeWizardCommand, Sitecore.DataExchange.Local.Sdk" />
    </commands>
    <defsdk>
      <upgrades>
        <tenants type="Sitecore.DataExchange.Local.Sdk.Instructions.InstructionSetCollection, Sitecore.DataExchange.Local.Sdk">
          <sets hint="raw:AddInstructionSet" />
        </tenants>
      </upgrades>
    </defsdk>
    <pipelines>
      <!-- 
        PIPELINE: defsdk.createProvider
        WHEN RUN: The pipeline is triggered using a button in Content Editor.
        DESCRIPTION: This pipeline handles the routine tasks involved when a new 
                     DEF provider is created. There are many items and templates 
                     that need to be created and insert option rules that need 
                     to be configured. This pipeline implements all of this logic.
        
        DEFAULT STORED VALUES: 
                {providerName} - When the pipeline is triggered, the user is 
                                prompted to enter the provider name. This 
                                property provides access to that value.
                                  
        NOTES: The names of the nodes under the "child" nodes are significant.
               The node name is used to refer to the item represented by the
               node. For example, a node named "providerTemplatesRoot" can
               be retrieved from the pipeline args using {providerTemplatesRoot}.
               
               For this reason it is important that the names in the default
               configuration not be changed. Additional nodes can be added,
               but do not change the node names on the default configuration.
      -->
      <defsdk.createProvider>
        <!-- 
            Adds commonly used IDs to the stored ids collection in order to
            reduce the number of ids that must be used in the configuration.
        -->
        <processor type="Sitecore.DataExchange.Local.Sdk.Pipelines.RunInstructions.AddStoredIds, Sitecore.DataExchange.Local.Sdk">
          <ids hint="raw:AddChild">
            <templateFolder>{0437FEE2-44C9-46A6-ABE9-28858D9FEE8C}</templateFolder>
            <branchFolder>{85ADBF5B-E836-4932-A333-FE0F9FA1ED1E}</branchFolder>
            <branch>{35E75C72-4985-4E09-88C3-0EAC6CD1E64F}</branch>
            <folder>{A87A00B1-E6DB-45AB-8B54-636FEC3B5523}</folder>
          </ids>
        </processor>
        <!-- 
            Creates the root folder for the provider's templates.
        -->
        <processor type="Sitecore.DataExchange.Local.Sdk.Pipelines.RunInstructions.CreateItems, Sitecore.DataExchange.Local.Sdk">
          <root>/sitecore/templates/Data Exchange/Providers</root>
          <children hint="raw:AddChild">
            <providerTemplatesRoot>
              <name>{providerName}</name>
              <template>{templateFolder}</template>
            </providerTemplatesRoot>
          </children>
        </processor>
        <!-- 
            Creates the child folders under the root folder for the 
            provider's templates.
        -->
        <processor type="Sitecore.DataExchange.Local.Sdk.Pipelines.RunInstructions.CreateItems, Sitecore.DataExchange.Local.Sdk">
          <root>{providerTemplatesRoot}</root>
          <defaultTemplate>{templateFolder}</defaultTemplate>
          <children hint="raw:AddChild">
            <dataAccessTemplatesRoot>
              <name>Data Access</name>
            </dataAccessTemplatesRoot>
            <endpoints>
              <name>Endpoints</name>
            </endpoints>
            <filterExpressionsRoot>
              <name>Filter Expressions</name>
            </filterExpressionsRoot>
            <folderTemplatesRoot>
              <name>Folders</name>
            </folderTemplatesRoot>
            <pipelineStepOverrideActions>
              <name>Pipeline Step Override Actions</name>
            </pipelineStepOverrideActions>
            <pipelineSteps>
              <name>Pipeline Steps</name>
            </pipelineSteps>
          </children>
        </processor>
        <!-- 
            Creates folders for the data access templates
            that may be created by the developer as the
            provider is created.
        -->
        <processor type="Sitecore.DataExchange.Local.Sdk.Pipelines.RunInstructions.CreateItems, Sitecore.DataExchange.Local.Sdk">
          <root>{dataAccessTemplatesRoot}</root>
          <defaultTemplate>{templateFolder}</defaultTemplate>
          <children hint="raw:AddChild">
            <applyMappingRules>
              <name>Apply Mapping Rules</name>
            </applyMappingRules>
            <mapping>
              <name>Mapping</name>
            </mapping>
            <mappingsAppliedActionRules>
              <name>Mappings Applied Action Rules</name>
            </mappingsAppliedActionRules>
            <mappingsAppliedActions>
              <name>Mappings Applied Actions</name>
            </mappingsAppliedActions>
            <valueAccessorSets>
              <name>Value Accessor Sets</name>
            </valueAccessorSets>
            <valueAccessors>
              <name>Value Accessors</name>
            </valueAccessors>
            <valueReaders>
              <name>Value Readers</name>
            </valueReaders>
            <valueWriters>
              <name>Value Writers</name>
            </valueWriters>
          </children>
        </processor>
        <!-- 
            Creates folders for the filter expression templates
            that may be created by the developer as the
            provider is created.
        -->
        <processor type="Sitecore.DataExchange.Local.Sdk.Pipelines.RunInstructions.CreateItems, Sitecore.DataExchange.Local.Sdk">
          <root>{filterExpressionsRoot}</root>
          <defaultTemplate>{templateFolder}</defaultTemplate>
          <children hint="raw:AddChild">
            <conditions>
              <name>Conditions</name>
            </conditions>
          </children>
        </processor>
        <!-- 
            Creates the templates used when provider-specific folders 
            are created in a tenant (these are the folders whose 
            name matches the name of the provider).
        -->
        <processor type="Sitecore.DataExchange.Local.Sdk.Pipelines.RunInstructions.CreateItems, Sitecore.DataExchange.Local.Sdk">
          <root>{folderTemplatesRoot}</root>
          <defaultIcon>Office/32x32/folder_open.png</defaultIcon>
          <children hint="raw:AddChild">
            <foldersForTenantSettings>
              <name>Folders for Tenant Settings</name>
              <template>{templateFolder}</template>
              <icon>Applications/16x16/folder.png</icon>
            </foldersForTenantSettings>
            <applyMappingRulesRoot createAsTemplate="true" addStandardValues="true">
              <name>{providerName} Apply Mapping Rules Root</name>
              <template>{E9567392-D6DC-4FC9-9FD8-47342805882A}</template>
            </applyMappingRulesRoot>
            <endpointsRoot createAsTemplate="true" addStandardValues="true">
              <name>{providerName} Endpoints Root</name>
              <template>{83A9694B-62D1-4B74-96F1-E8A8624D7578}</template>
            </endpointsRoot>
            <filterExpressionsRoot createAsTemplate="true" addStandardValues="true">
              <name>{providerName} Filter Expressions Root</name>
              <template>{2BFCDC76-B3C2-4805-B313-142C0176DEAE}</template>
            </filterExpressionsRoot>
            <mappingsAppliedActionRulesRoot createAsTemplate="true" addStandardValues="true">
              <name>{providerName} Mappings Applied Action Rules Root</name>
              <template>{6F34D029-EF7B-402F-B2B2-5764074A2F59}</template>
            </mappingsAppliedActionRulesRoot>
            <mappingsAppliedActionsRoot createAsTemplate="true" addStandardValues="true">
              <name>{providerName} Mappings Applied Actions Root</name>
              <template>{639C40F3-5041-487F-A9AE-313DC6271177}</template>
            </mappingsAppliedActionsRoot>
            <tenantSettingsRoot createAsTemplate="true" addStandardValues="true">
              <name>{providerName} Tenant Settings Root</name>
              <template>{25139157-048C-4EAC-9DC7-7448568E0EA5}</template>
            </tenantSettingsRoot>
            <valueAccessorSetsRoot createAsTemplate="true" addStandardValues="true">
              <name>{providerName} Value Accessor Sets Root</name>
              <template>{650B2EB7-CA43-4101-B5CE-FF9C8C0600A4}</template>
            </valueAccessorSetsRoot>
            <valueAccessorsRoot createAsTemplate="true" addStandardValues="true">
              <name>{providerName} Value Accessors Root</name>
              <template>{C975E4BE-799D-4CDB-96C9-FADD0AC5E994}</template>
            </valueAccessorsRoot>
            <valueReadersRoot createAsTemplate="true" addStandardValues="true">
              <name>{providerName} Value Readers Root</name>
              <template>{D8699F09-CAE7-45F3-A148-F342FD87EB91}</template>
            </valueReadersRoot>
            <valueWritersRoot createAsTemplate="true" addStandardValues="true">
              <name>{providerName} Value Writers Root</name>
              <template>{FDDE9858-1668-4D30-9D77-D891AF2BA835}</template>
            </valueWritersRoot>
          </children>
        </processor>

        
        <!-- 
            Creates the root folder for the provider's branch and 
            command templates.
        -->
        <processor type="Sitecore.DataExchange.Local.Sdk.Pipelines.RunInstructions.CreateItems, Sitecore.DataExchange.Local.Sdk">
          <root>/sitecore/templates/Branches/Data Exchange/Providers</root>
          <children hint="raw:AddChild">
            <providerBranchesRoot>
              <name>{providerName}</name>
              <template>{branchFolder}</template>
            </providerBranchesRoot>
          </children>
        </processor>
        <!-- 
            Creates the child folders under the root folder for the 
            provider's branch and command templates.
        -->
        <processor type="Sitecore.DataExchange.Local.Sdk.Pipelines.RunInstructions.CreateItems, Sitecore.DataExchange.Local.Sdk">
          <root>{providerBranchesRoot}</root>
          <defaultTemplate>{branchFolder}</defaultTemplate>
          <children hint="raw:AddChild">
            <branchesRoot>
              <name>Branches</name>
            </branchesRoot>
            <commandsRoot>
              <name>Commands</name>
            </commandsRoot>
            <tenantsRoot>
              <name>Tenants</name>
            </tenantsRoot>
          </children>
        </processor>
        <!-- 
            Creates settings folder for the provider.
        -->
        <processor type="Sitecore.DataExchange.Local.Sdk.Pipelines.RunInstructions.CreateItems, Sitecore.DataExchange.Local.Sdk">
          <root>/sitecore/system/Settings/Data Exchange/Providers</root>
          <defaultTemplate>{folder}</defaultTemplate>
          <children hint="raw:AddChild">
            <providerSettingsRoot>
              <name>{providerName}</name>
            </providerSettingsRoot>
          </children>
        </processor>
        <!--
            Creates the branch template used to create the 
            provider-specific tenant settings folder in a 
            tenant.
        -->
        <processor type="Sitecore.DataExchange.Local.Sdk.Pipelines.RunInstructions.CreateItems, Sitecore.DataExchange.Local.Sdk">
          <root>{branchesRoot}</root>
          <defaultTemplate>{branch}</defaultTemplate>
          <children hint="raw:AddChild">
            <providerTenantSettingsRootBranch>
              <name>{providerName} Tenant Settings Root</name>
            </providerTenantSettingsRootBranch>
          </children>
        </processor>
        <processor type="Sitecore.DataExchange.Local.Sdk.Pipelines.RunInstructions.CreateItems, Sitecore.DataExchange.Local.Sdk">
          <root>{providerTenantSettingsRootBranch}</root>
          <defaultTemplate>{tenantSettingsRoot}</defaultTemplate>
          <children hint="raw:AddChild">
            <providerTenantSettingsRootItem>
              <name>{providerName}</name>
            </providerTenantSettingsRootItem>
          </children>
        </processor>
        <processor type="Sitecore.DataExchange.Local.Sdk.Pipelines.RunInstructions.CreateItems, Sitecore.DataExchange.Local.Sdk">
          <root>{providerTenantSettingsRootItem}</root>
          <defaultTemplate>{filterExpressionsRoot}</defaultTemplate>
          <children hint="raw:AddChild">
            <filterExpressionsRootItem>
              <name>Filter Expression</name>
            </filterExpressionsRootItem>
          </children>
        </processor>
        <!-- 
            Creates the command templates used to create the 
            provider-specific folders in a tenant.
        -->
        <processor type="Sitecore.DataExchange.Local.Sdk.Pipelines.RunInstructions.CreateCommandItemsForTenantFolders, Sitecore.DataExchange.Local.Sdk">
          <root>{commandsRoot}</root>
          <children hint="raw:AddChild">
            <applyMappingRulesCommand>
              <name>{providerName} Apply Mapping Rules</name>
              <template>{applyMappingRulesRoot}</template>
            </applyMappingRulesCommand>
            <endpointsCommand>
              <name>{providerName} Endpoints</name>
              <template>{endpointsRoot}</template>
            </endpointsCommand>
            <mappingsAppliedActionRulesCommand>
              <name>{providerName} Mappings Applied Action Rules</name>
              <template>{mappingsAppliedActionRulesRoot}</template>
            </mappingsAppliedActionRulesCommand>
            <mappingsAppliedActionsCommand>
              <name>{providerName} Mappings Applied Actions</name>
              <template>{mappingsAppliedActionsRoot}</template>
            </mappingsAppliedActionsCommand>
            <valueAccessorSetsCommand>
              <name>{providerName} Value Accessor Sets</name>
              <template>{valueAccessorSetsRoot}</template>
            </valueAccessorSetsCommand>
            <valueAccessorsCommand>
              <name>{providerName} Value Accessors</name>
              <template>{valueAccessorsRoot}</template>
            </valueAccessorsCommand>
            <valueReadersCommand>
              <name>{providerName} Value Readers</name>
              <template>{valueReadersRoot}</template>
            </valueReadersCommand>
            <valueWritersCommand>
              <name>{providerName} Value Writers</name>
              <template>{valueWritersRoot}</template>
            </valueWritersCommand>
            <tenantSettingsForProviderCommand>
              <name>{providerName} Tenant Settings</name>
              <template>{providerTenantSettingsRootBranch}</template>
            </tenantSettingsForProviderCommand>
          </children>
        </processor>
        <!-- 
            Creates and configures an insert option rule for 
            the provider. This processor is too complex to 
            be configured using a config file. As a result,
            most of the logic for configuring the rule is
            implemented in the processor itself.
        -->
        <processor type="Sitecore.DataExchange.Local.Sdk.Pipelines.RunInstructions.CreateInsertOptionRulesForTenant, Sitecore.DataExchange.Local.Sdk">
          <root>/sitecore/system/Settings/Rules/Insert Options/Rules</root>
          <children hint="raw:AddChild">
            <providerTemplatesRoot>
              <name>Data Exchange - {providerName} Provider</name>
              <template>{664E5035-EB8C-4BA1-9731-A098FCC9127A}</template>
            </providerTemplatesRoot>
          </children>
        </processor>
        <!--
            Set the name for the new item created by the command templates.
        -->
        <processor type="Sitecore.DataExchange.Local.Sdk.Pipelines.RunInstructions.SetFieldValuesOnItems, Sitecore.DataExchange.Local.Sdk">
          <roots hint="list">
            <commands>{commandsRoot}</commands>
          </roots>
          <templateIds hint="list">
            <template>{7413953F-763F-44DE-AC9B-2A29C6B5A0C5}</template>
          </templateIds>
          <fieldValues hint="raw:AddFieldValue">
            <field fieldName="NewItemName">{providerName}</field>
          </fieldValues>
        </processor>
      </defsdk.createProvider>
      <expandInitialFieldValue>
        <processor type="Sitecore.DataExchange.Local.Sdk.Pipelines.ExpandInitialFieldValue.IgnoreItems, Sitecore.DataExchange.Local.Sdk" patch:after="processor[@type='Sitecore.Pipelines.ExpandInitialFieldValue.SkipStandardValueItems, Sitecore.Kernel']">
          <items hint="list:AddItemById">
            <nameItemUnderCreateItemWithoutPromptingForNameBranch>{BF1E390B-56CA-45AF-ACA0-58627A659C9D}</nameItemUnderCreateItemWithoutPromptingForNameBranch>
          </items>
        </processor>
      </expandInitialFieldValue>
    </pipelines>
    <!--
        Adds references to the dll so localizable text 
        is available to Sheer UI components.
    -->
    <ui>
      <references>
        <reference patch:after="reference[.='/bin/Sitecore.Client.dll']">/bin/Sitecore.DataExchange.Local.Sdk.dll</reference>
      </references>
    </ui>
  </sitecore>
</configuration>