<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <!-- 
        PIPELINE: defsdk.upgrade.tenant.tenantservice
        WHEN RUN: The pipeline is triggered using a button in Content Editor.
        DESCRIPTION: This pipeline adds Tenant Service items to an existing tenant
        
        DEFAULT STORED IDS: 
                {tenantId} - When the pipeline is triggered, the tenant to upgrade 
                            is added as a property on the pipeline args.
      -->
      <defsdk.upgrade.tenant.tenantservice>
        <!-- 
          Backup the tenant before making any changes.
        -->
        <processor type="Sitecore.DataExchange.Local.Sdk.Pipelines.RunInstructions.BackupItems, Sitecore.DataExchange.Local.Sdk">
          <itemIds hint="list">
            <tenantId>{tenantId}</tenantId>
          </itemIds>
        </processor>
        <!--
          Disable the tenant so that it cannot be used until someone 
          has a chance to review the changes to ensure the tenant 
          was upgraded properly.
        -->
        <processor type="Sitecore.DataExchange.Local.Sdk.Pipelines.RunInstructions.SetFieldValuesOnItems, Sitecore.DataExchange.Local.Sdk">
          <itemIds hint="list">
            <item>{tenantId}</item>
          </itemIds>
          <fieldValues hint="raw:AddFieldValue">
            <field fieldName="Enabled">0</field>
          </fieldValues>
        </processor>

        <!--
          Add Tenant Service Endpoints and Tenant Service Settings under the tenant using branch templates.
        -->
        <processor type="Sitecore.DataExchange.Local.Sdk.Pipelines.RunInstructions.CreateItems, Sitecore.DataExchange.Local.Sdk">
          <root>{tenantId}</root>
          <children hint="raw:AddChild">
            <tenantServiceEndpointsFolder>
              <name>Tenant Service Endpoints</name>
              <template>{08E8F4F0-DA13-4713-BCA7-085EC0E1F5B1}</template>
            </tenantServiceEndpointsFolder>
            <tenantServiceSettingsFolder>
              <name>Tenant Service Settings</name>
              <template>{EF770B03-6DA5-4D8A-B45C-E10B13642E1E}</template>
            </tenantServiceSettingsFolder>
          </children>
        </processor>
  
      </defsdk.upgrade.tenant.tenantservice>
    </pipelines>
    <defsdk>
      <upgrades>
        <tenants type="Sitecore.DataExchange.Local.Sdk.Instructions.InstructionSetCollection, Sitecore.DataExchange.Local.Sdk">
          <sets hint="raw:AddInstructionSet" patch:after="*[1]">
            <tenant>
              <name>Tenant Service</name>
              <description>Adds support for Tenant Service to an existing tenant</description>
              <pipeline>defsdk.upgrade.tenant.tenantservice</pipeline>
            </tenant>
          </sets>
        </tenants>
      </upgrades>
    </defsdk>
  </sitecore>
</configuration>
