<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <pipelines role:require="Standalone or ContentManagement">
        <initialize>
            <processor type="Sitecore.DataExchange.Providers.XConnect.Local.Pipelines.Loader.XdbCollectionModelsToItems, Sitecore.DataExchange.Providers.XConnect.Local">
                <database>master</database>
                <xDbcollectionModelItemIds hint="list:AddItemById">
                    <defaultCollectionModelId>{A485D400-7606-4445-831C-A1D57B7AF675}</defaultCollectionModelId>
                </xDbcollectionModelItemIds>
            </processor>
        </initialize>
    </pipelines>

    <settings role:require="Standalone or ContentManagement" >
        <setting name="DataExchange.Providers.XConnect.AllowBuildCollectionModelOnInitialize" value="true" />
        <setting name="DataExchange.Providers.XConnect.AlwaysRebuildCollectionModelOnInitialize" value="false" />
    </settings>
        
    <commands>
      <command name="dataExchange:xConnect:convertCollectionModelToJson" type="Sitecore.DataExchange.Providers.XConnect.Local.Commands.ConvertCollectionModelToJsonCommand, Sitecore.DataExchange.Providers.XConnect.Local" />
      <command name="dataExchange:xConnect:showDeployedCollectionModels" type="Sitecore.DataExchange.Providers.XConnect.Local.Commands.ShowDeployedCollectionModelsCommand, Sitecore.DataExchange.Providers.XConnect.Local" />
      <command name="dataExchange:xConnect:convertCollectionModelToItems" type="Sitecore.DataExchange.Providers.XConnect.Local.Commands.ConvertCollectionModelToItemsCommand, Sitecore.DataExchange.Providers.XConnect.Local" />
    </commands>
    <services>
      <register serviceType="Sitecore.DataExchange.Providers.XConnect.IXConnectClientHelper, Sitecore.DataExchange.Providers.XConnect" implementationType="Sitecore.DataExchange.Providers.XConnect.DefaultXConnectClientHelper, Sitecore.DataExchange.Providers.XConnect" />
    </services>
  </sitecore>
</configuration>
